doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='https://getbootstrap.com/docs/4.1/assets/img/favicons/favicon.ico')
    title Sign Up
    link(rel='canonical', href='https://getbootstrap.com/docs/4.1/examples/sign-in/')
    // Bootstrap core CSS
    link(href='https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css', rel='stylesheet')
    script(src='https://kit.fontawesome.com/7ea5b3f3ae.js', crossorigin='anonymous')
    // Custom styles for this template
    style(type='text/css').
      html,
      body {
      height: 100%;
      }
      body {
      align-items: center;
      padding-bottom: 40px;
      background-color: #ffffff;
      }
      .form-signin {
      width: 100%;
      max-width: 330px;
      padding-top: 180px;
      margin: auto;
      }
      .form-signin .checkbox {
      font-weight: 400;
      }
      .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
      }
      .form-signin .form-control:focus {
      z-index: 2;
      }
      .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      }
      .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      }
  body.text-center
    nav.navbar.navbar-expand-sm(style='background-color: #E8E8E8;')
      .row.container-fluid
        .nav-item.m-auto
          img(src='http://localhost:2229/images/img.png', width='200px')
        .nav-item

    .container
      form.form-signin(method='POST', action='')
        img.mb-4(src='', alt='')
        h1.h3.mb-4.font-weight-normal Sign Up
        label.sr-only Name
        input#inputName.form-control(type='text', name='name', placeholder='Your Name', required='', autofocus='')
        label.sr-only(for='inputEmail') Email address
        input#inputEmail.form-control(type='email', name='email', placeholder='Email address', required='', autofocus='')
        label.sr-only(for='inputPassword') Password
        input#inputPassword.form-control(type='password', name='password', placeholder='Password', required='')
        button.btn.btn-lg.btn-primary.btn-block(type='submit', style='color:black;background-color:#E8E8E8;border-color:#E8E8E8 ') Sign Up
